[submodule "patches/winit"]
	path = patches/winit
	url = https://github.com/phiresky/winit.git
	branch = android-patches-rebased
[submodule "patches/smithay"]
	path = patches/smithay
	url = https://github.com/phiresky/smithay.git
	branch = android-patches-rebased
[submodule "deps/proot"]
	path = patches/proot
	url = https://github.com/termux/proot.git
